In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [2]:
sg_rain=pd.read_csv('./datasets/combined_csv.csv', encoding= 'unicode_escape')

In [3]:
sg_rain.dtypes

Station                          object
Year                              int64
Month                             int64
Day                               int64
Daily Rainfall Total (mm)        object
Highest 30 Min Rainfall (mm)     object
Highest 60 Min Rainfall (mm)     object
Highest 120 Min Rainfall (mm)    object
Mean Temperature (Â°C)           object
Maximum Temperature (Â°C)        object
Minimum Temperature (Â°C)        object
Mean Wind Speed (km/h)           object
Max Wind Speed (km/h)            object
dtype: object

In [33]:
col= sg_rain.columns.tolist()
col = col[4:]

In [46]:
for i in col:
    sg_rain[i].replace({'Â\x97': None}, inplace=True)

In [51]:
sg_rain.dropna(inplace=True)
sg_rain[col]=sg_rain[col].astype(float)

In [52]:
sg_rain.dtypes

Station                           object
Year                               int64
Month                              int64
Day                                int64
Daily Rainfall Total (mm)        float64
Highest 30 Min Rainfall (mm)     float64
Highest 60 Min Rainfall (mm)     float64
Highest 120 Min Rainfall (mm)    float64
Mean Temperature (Â°C)           float64
Maximum Temperature (Â°C)        float64
Minimum Temperature (Â°C)        float64
Mean Wind Speed (km/h)           float64
Max Wind Speed (km/h)            float64
dtype: object

In [54]:
sg_rain.reset_index(drop=True)

,Station,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 Min Rainfall (mm),Highest 60 Min Rainfall (mm),Highest 120 Min Rainfall (mm),Mean Temperature (Â°C),Maximum Temperature (Â°C),Minimum Temperature (Â°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,Admiralty,2018,1,5,5.0,2.0,3.6,5.0,25.9,28.2,24.8,5.8,18.0
1,Admiralty,2018,1,6,0.0,0.0,0.0,0.0,27.1,31.2,24.6,6.8,23.0
2,Admiralty,2018,1,7,2.4,2.0,2.0,2.4,26.6,32.1,24.2,9.0,28.8
3,Admiralty,2018,1,8,48.0,17.0,26.0,35.2,26.3,31.6,22.6,6.8,22.3
4,Admiralty,2018,1,9,7.2,5.2,7.0,7.0,26.9,32.1,25.1,8.6,32.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6941,Sentosa Island,2019,12,6,0.0,0.0,0.0,0.0,28.6,33.0,26.3,6.8,32.4
6942,Sentosa Island,2019,12,7,0.0,0.0,0.0,0.0,28.1,30.5,26.7,6.5,33.1
6943,Sentosa Island,2019,12,13,39.0,12.6,14.8,22.4,25.7,29.9,23.7,4.7,27.4
6944,Sentosa Island,2019,12,14,27.2,2.6,4.8,8.4,24.4,26.2,23.5,4.3,16.2
6945,Sentosa Island,2019,12,20,0.0,0.0,0.0,0.0,28.0,31.4,26.1,4.7,27.4

In [55]:
num_only = sg_rain.columns.tolist()
num_only=num_only[1:]

In [ ]:
sns.pairplot(sg_rain)