# Project 1: SAT & ACT Analysis

The first markdown cell in a notebook is a great place to provide an overview of your entire project. You will likely want to at least state your

## Problem Statement

Define the problem you are finding answers for from the data given.

## Executive Summary

If you want to, it's great to use relative links to direct your audience to various sections of a notebook. **HERE'S A DEMONSTRATION WITH THE CURRENT SECTION HEADERS**:

### Contents:
- [2017 Data Import & Cleaning](#Data-Import-and-Cleaning)
- [2018 Data Import and Cleaning](#2018-Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-data)
- [Descriptive and Inferential Statistics](#Descriptive-and-Inferential-Statistics)
- [Outside Research](#Outside-Research)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

**If you combine your problem statement, executive summary, data dictionary, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.** Don't forget to cite your data sources!

*All libraries used should be added here*

In [1]:
#Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 2017 Data Import and Cleaning

#### 1. Read In SAT & ACT  Data

Read in the `sat_2017.csv` and `act_2017.csv` files and assign them to appropriately named pandas dataframes.

In [2]:
#Code:
sat_17 = pd.read_csv('../data/sat_2017.csv')
act_17 = pd.read_csv('../data/act_2017.csv')

#### 2. Display Data

Print the first 10 rows of each dataframe to your jupyter notebook

In [3]:
#Code:
sat_17.head(10)

,State,Participation,Evidence-Based Reading and Writing,Math,Total
0,Alabama,5%,593,572,1165
1,Alaska,38%,547,533,1080
2,Arizona,30%,563,553,1116
3,Arkansas,3%,614,594,1208
4,California,53%,531,524,1055
5,Colorado,11%,606,595,1201
6,Connecticut,100%,530,512,1041
7,Delaware,100%,503,492,996
8,District of Columbia,100%,482,468,950
9,Florida,83%,520,497,1017

In [4]:
act_17.head(10)

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

#### 3. Verbally Describe Data

Take your time looking through the data and thoroughly describe the data in the markdown cell below.

SAT:  
The Data is for 51 states. Data for Math has an outlier with value 52. Howeverother than that the scores for ERW and Math were quite similar ranging from just below 500 to around 650.

ACT:  
The Data is for 51 states and includes the National data as well.

#### 4a. Does the data look complete?

Answer: Yes

#### 4b. Are there any obvious issues with the observations?

**What is the minimum *possible* value for each test/subtest? What is the maximum *possible* value?**

Consider comparing any questionable values to the sources of your data:
- [SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/)
- [ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)

These data give average SAT and ACT scores by state, as well as participation rates, for the graduating class of 2017.

Answer:for the SAT data, there seems to be a typo
and for he ACT data, there seems to be an x on the last entry

#### 4c. Fix any errors you identified

**The data is available** so there's no need to guess or calculate anything. If you didn't find any errors, continue to the next step.

In [5]:
sat_17.loc[[20], ['Math']] #holding the value 52 which is a typo in the data frame

    Math
20    52

In [6]:
sat_17.loc[[20], ['Math']] = int(524) #replacing the value with the correct one
sat_17.loc[[20], ['Math']] #show new value has been registered in

    Math
20   524

In [7]:
act_17.loc[[51], ['Composite']] #there seems to be a character in the value

   Composite
51     20.2x

In [8]:
act_17.loc[[51], ['Composite']] = float(20.2) #replacing it with a float with value 20.2
act_17.loc[[51], ['Composite']]

   Composite
51      20.2

#### 5. What are your data types? 
Display the data types of each feature.

In [9]:
sat_17.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [10]:
act_17.dtypes

State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite         object
dtype: object

What did you learn?
- Do any of them seem odd?  
- Which ones are not as they should be?

Answer: Participation percentages for both should be a float/int and 'Composite' column for ACT 2017 should be type foat and not object.

#### 6. Fix Incorrect Data Types
Based on what you discovered above, use appropriate methods to re-type incorrectly typed data.
- Define a function that will allow you to convert participation rates to an appropriate numeric type. Use `map` or `apply` to change these columns in each dataframe.

In [11]:
sat_17.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

In [12]:
#removing the percentage symbol from the values in 'Participation'
sat_17['Participation'] = sat_17['Participation'].map(lambda i: i.replace('%',''))

In [13]:
act_17['Participation'] = act_17['Participation'].map(lambda i: i.replace('%',''))

- Fix any individual values preventing other columns from being the appropriate type.

In [14]:
#changing all the wrong data types to the correct ones
act_17['Composite']=act_17['Composite'].astype(float)
act_17['Participation']=act_17['Participation'].astype(float)
sat_17['Participation']=sat_17['Participation'].astype(float)

- Finish your data modifications by making sure the columns are now typed appropriately.

In [15]:
#changing percentage amount to be a decimal
act_17['Participation']=act_17['Participation']/100
sat_17['Participation']=sat_17['Participation']/100

- Display the data types again to confirm they are correct.

In [16]:
act_17.dtypes

State             object
Participation    float64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

In [17]:
sat_17.dtypes

State                                  object
Participation                         float64
Evidence-Based Reading and Writing      int64
Math                                    int64
Total                                   int64
dtype: object

#### 7. Rename Columns
Change the names of the columns to more expressive names so that you can tell the difference the SAT columns and the ACT columns. Your solution should map all column names being changed at once (no repeated singular name-changes). **We will be combining these data with some of the data from 2018, and so you should name columns in an appropriate way**.

**Guidelines**:
- Column names should be all lowercase (you will thank yourself when you start pushing data to SQL later in the course)
- Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`.
- Column names should be unique and informative (the only feature that we actually share between dataframes is the state).

In [18]:
#changing all columns to lower case
sat_17.columns = sat_17.columns.str.lower()
#replacing spaces with underscores
sat_17.columns = sat_17.columns.map(lambda i: i.replace(' ','_'))
sat_17.head()

        state  participation  evidence-based_reading_and_writing  math  total
0     Alabama           0.05                                 593   572   1165
1      Alaska           0.38                                 547   533   1080
2     Arizona           0.30                                 563   553   1116
3    Arkansas           0.03                                 614   594   1208
4  California           0.53                                 531   524   1055

In [19]:
#changing all columns to lower case
act_17.columns = act_17.columns.str.lower()
act_17.head()

      state  participation  english  math  reading  science  composite
0  National           0.60     20.3  20.7     21.4     21.0       21.0
1   Alabama           1.00     18.9  18.4     19.7     19.4       19.2
2    Alaska           0.65     18.7  19.8     20.4     19.9       19.8
3   Arizona           0.62     18.6  19.8     20.1     19.8       19.7
4  Arkansas           1.00     18.9  19.0     19.7     19.5       19.4

#### 8. Create a data dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

#### 9. Drop unnecessary rows

One of our dataframes contains an extra row. Identify and remove this from the dataframe.

In [20]:
act_17.head()

      state  participation  english  math  reading  science  composite
0  National           0.60     20.3  20.7     21.4     21.0       21.0
1   Alabama           1.00     18.9  18.4     19.7     19.4       19.2
2    Alaska           0.65     18.7  19.8     20.4     19.9       19.8
3   Arizona           0.62     18.6  19.8     20.1     19.8       19.7
4  Arkansas           1.00     18.9  19.0     19.7     19.5       19.4

In [21]:
#the extra row would be the National data of ACT 2017
act_17.drop(act_17.index[0], axis=0, inplace= True )
act_17.head()

        state  participation  english  math  reading  science  composite
1     Alabama           1.00     18.9  18.4     19.7     19.4       19.2
2      Alaska           0.65     18.7  19.8     20.4     19.9       19.8
3     Arizona           0.62     18.6  19.8     20.1     19.8       19.7
4    Arkansas           1.00     18.9  19.0     19.7     19.5       19.4
5  California           0.31     22.5  22.7     23.1     22.2       22.8

#### 10. Merge Dataframes

Join the 2017 ACT and SAT dataframes using the state in each dataframe as the key. Assign this to a new variable.

In [22]:
#merging ACT and SAT 2017
act_sat_17 = pd.merge(act_17 ,sat_17, on='state', how='outer')
act_sat_17.head()

,state,participation_x,english,math_x,reading,science,composite,participation_y,evidence-based_reading_and_writing,math_y,total
0,Alabama,1.00,18.9,18.4,19.7,19.4,19.2,0.05,593,572,1165
1,Alaska,0.65,18.7,19.8,20.4,19.9,19.8,0.38,547,533,1080
2,Arizona,0.62,18.6,19.8,20.1,19.8,19.7,0.30,563,553,1116
3,Arkansas,1.00,18.9,19.0,19.7,19.5,19.4,0.03,614,594,1208
4,California,0.31,22.5,22.7,23.1,22.2,22.8,0.53,531,524,1055

In [23]:
#renaming the columns
new_columns_list = ['state', 'participation_act17', 'english_act17',
       'math_act17', 'reading_act17', 'science_act17',
       'composite_act17', 'participation_sat17', 'evidence_based_reading_and_writing_sat17', 'math_sat17',
       'total_sat17']

In [24]:
act_sat_17.columns = new_columns_list
act_sat_17.head()

,state,participation_act17,english_act17,math_act17,reading_act17,science_act17,composite_act17,participation_sat17,evidence_based_reading_and_writing_sat17,math_sat17,total_sat17
0,Alabama,1.00,18.9,18.4,19.7,19.4,19.2,0.05,593,572,1165
1,Alaska,0.65,18.7,19.8,20.4,19.9,19.8,0.38,547,533,1080
2,Arizona,0.62,18.6,19.8,20.1,19.8,19.7,0.30,563,553,1116
3,Arkansas,1.00,18.9,19.0,19.7,19.5,19.4,0.03,614,594,1208
4,California,0.31,22.5,22.7,23.1,22.2,22.8,0.53,531,524,1055

#### 11. Save your cleaned, merged dataframe

Use a relative path to save out your data as `combined_2017.csv`.

In [25]:
#saving dataframe as a csv file named combined_2017
act_sat_17.to_csv('../data/combined_2017.csv', index = False)

## 2018 Data Import and Cleaning

Links to the 2018 ACT and SAT data are provided in the README. These data live in PDFs, and so you'll get to enjoy practicing some *manual* data collection. Save these data as a CSV in your `data` directory, and import, explore, and clean these data in the same way you did above. **Make sure you comment on your steps so it is clear *why* you are doing each process**.

In [26]:
sat_18 = pd.read_csv('../data/sat_2018.csv')
act_18 = pd.read_csv('../data/act_2018.csv')

In [27]:
sat_18.dtypes

State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

In [28]:
act_18.dtypes

State             object
Participation     object
Composite        float64
dtype: object

In [29]:
#removing % sign from percentages in participation
act_18['Participation'] = act_18['Participation'].map(lambda i: i.replace('%',''))
sat_18['Participation'] = sat_18['Participation'].map(lambda i: i.replace('%',''))

In [30]:
#changing all the percentages to float
act_18['Participation']=act_18['Participation'].astype(float)
sat_18['Participation']=sat_18['Participation'].astype(float)

In [31]:
#changing percentage amount to be a decimal
act_18['Participation']=act_18['Participation']/100
sat_18['Participation']=sat_18['Participation']/100

In [32]:
#correcting the lower cased c in  'District of columbia'
act_18.loc[[8], ['State']] = 'District of Columbia'
act_18.loc[[8], ['State']]

                  State
8  District of Columbia

In [33]:
#a few of the sum of ERW and Math in SAT 18 does not tally with total, requires correction
sat_18.loc[[3], ['Total']] = int(1168)
sat_18.loc[[6], ['Total']] = int(1054)
sat_18.loc[[7], ['Total']] = int(997)
sat_18.loc[[16], ['Total']] = int(1264)
sat_18.loc[[22], ['Total']] = int(1010)
sat_18.loc[[31], ['Total']] = int(1092)
sat_18.loc[[33], ['Total']] = int(1097)
sat_18.loc[[50], ['Total']] = int(1258)

In [34]:
act_18.head()

        State  Participation  Composite
0     Alabama           1.00       19.1
1      Alaska           0.33       20.8
2     Arizona           0.66       19.2
3    Arkansas           1.00       19.4
4  California           0.27       22.7

In [35]:
sat_18.head()

        State  Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama           0.06                                 595   571   1166
1      Alaska           0.43                                 562   544   1106
2     Arizona           0.29                                 577   572   1149
3    Arkansas           0.05                                 592   576   1168
4  California           0.60                                 540   536   1076

In [36]:
#merging both sat_18 and act_18
act_sat_18 = pd.merge(act_18 ,sat_18, on='State', how='outer')
act_sat_18.head()

,State,Participation_x,Composite,Participation_y,Evidence-Based Reading and Writing,Math,Total
0,Alabama,1.00,19.1,0.06,595,571,1166
1,Alaska,0.33,20.8,0.43,562,544,1106
2,Arizona,0.66,19.2,0.29,577,572,1149
3,Arkansas,1.00,19.4,0.05,592,576,1168
4,California,0.27,22.7,0.60,540,536,1076

In [37]:
#renaming the columns
new_columns_list2 = ['state', 'participation_act18', 
       'composite_act18', 'participation_sat18', 'evidence_based_reading_and_writing_sat18', 'math_sat18',
       'total_sat18']
act_sat_18.columns = new_columns_list2
act_sat_18.head()

,state,participation_act18,composite_act18,participation_sat18,evidence_based_reading_and_writing_sat18,math_sat18,total_sat18
0,Alabama,1.00,19.1,0.06,595,571,1166
1,Alaska,0.33,20.8,0.43,562,544,1106
2,Arizona,0.66,19.2,0.29,577,572,1149
3,Arkansas,1.00,19.4,0.05,592,576,1168
4,California,0.27,22.7,0.60,540,536,1076

#### Combine your 2017 and 2018 data into a single dataframe
Joining on state names should work, assuming you formatted all your state names identically. Make sure none of your columns (other than state) have identical names. Do yourself a favor and decide if you're encoding participation rates as floats or integers and standardize this across your datasets.

Save the contents of this merged dataframe as `final.csv`.

**Use this combined dataframe for the remainder of the project**.

In [38]:
#merging both dataframes to final
final = pd.merge(act_sat_17,act_sat_18, on='state', how='outer')

In [39]:
#saving as a csv file
final.to_csv('../data/final.csv', index = False)

## Exploratory Data Analysis


### Summary Statistics
Transpose the output of pandas `describe` method to create a quick overview of each numeric feature.

In [40]:
#transposing the describe method
final.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
participation_act17,52.0,0.641538,0.327997,0.08,0.3100,0.680,1.0000,1.0
english_act17,52.0,20.994231,2.374159,16.30,19.0000,20.800,23.3250,25.5
math_act17,52.0,21.236538,2.000983,18.00,19.4000,21.050,23.1500,25.3
reading_act17,52.0,22.067308,2.083052,18.10,20.4750,21.850,24.2000,26.0
science_act17,52.0,21.092308,3.172606,2.30,19.9000,21.300,23.2000,24.9
composite_act17,52.0,21.573077,2.037599,17.80,19.8000,21.400,23.6250,25.5
participation_sat17,52.0,0.408654,0.357579,0.02,0.0400,0.405,0.6750,1.0
evidence_based_reading_and_writing_sat17,52.0,568.038462,45.881758,482.00,531.7500,558.500,612.5000,644.0
math_sat17,52.0,555.769231,47.342563,468.00,522.5000,544.500,597.0000,651.0
total_sat17,52.0,1123.903846,92.940263,950.00,1054.2500,1104.500,1210.0000,1295.0
participation_act18,52.0,0.606731,0.345456,0.07,0.2700,0.655,1.0000,1.0
composite_act18,52.0,21.544231,2.119417,17.70,19.9750,21.300,23.7250,25.6
participation_sat18,52.0,0.467692,0.376775,0.02,0.0475,0.535,0.7925,1.0
evidence_based_reading_and_writing_sat18,52.0,562.692308,47.577610,480.00,530.5000,551.000,608.2500,643.0
math_sat18,52.0,555.173077,47.918117,480.00,521.7500,543.500,592.7500,655.0
total_sat18,52.0,1117.884615,94.432807,977.00,1048.5000,1095.500,1201.0000,1298.0

#### Manually calculate standard deviation

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

- Write a function to calculate standard deviation using the formula above

In [42]:
#defining standard deviation
def stddev(dataseries):
    u = (sum(dataseries))/(len(dataseries))
    summ = sum([(x-u)**2 for x in dataseries])
    var = summ/(len(dataseries))
    std = var**0.5
    return std

- Use a **dictionary comprehension** to apply your standard deviation function to each numeric column in the dataframe.  **No loops**  
- Assign the output to variable `sd` as a dictionary where: 
    - Each column name is now a key 
    - That standard deviation of the column is the value 
     
*Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`

In [43]:
#A list of column headers created from dataframe columns values
column_headers = final.columns.values

In [44]:
#exclude states as it is a series of type string
column_headers[1:]

array(['participation_act17', 'english_act17', 'math_act17',
       'reading_act17', 'science_act17', 'composite_act17',
       'participation_sat17', 'evidence_based_reading_and_writing_sat17',
       'math_sat17', 'total_sat17', 'participation_act18',
       'composite_act18', 'participation_sat18',
       'evidence_based_reading_and_writing_sat18', 'math_sat18',
       'total_sat18'], dtype=object)

In [45]:
#create dictionary with column header as key and value as stddev function
sd = {a : stddev(final[a]) for a in column_headers[1:]}
sd

{'participation_act17': 0.324827673931085,
 'english_act17': 2.351220097469729,
 'math_act17': 1.9816493563689903,
 'reading_act17': 2.06292558815109,
 'science_act17': 3.1419522442783,
 'composite_act17': 2.017911657040839,
 'participation_sat17': 0.3541242114012988,
 'evidence_based_reading_and_writing_sat17': 45.43844591162758,
 'math_sat17': 46.8851359849938,
 'total_sat17': 92.0422686377098,
 'participation_act18': 0.3421185194650338,
 'composite_act18': 2.098938693495657,
 'participation_sat18': 0.3731344126998051,
 'evidence_based_reading_and_writing_sat18': 47.11791202012345,
 'math_sat18': 47.455129071028026,
 'total_sat18': 93.52039140993507}

In [46]:
#numpy standard deviation
np.std(final)

participation_act17                          0.324828
english_act17                                2.351220
math_act17                                   1.981649
reading_act17                                2.062926
science_act17                                3.141952
composite_act17                              2.017912
participation_sat17                          0.354124
evidence_based_reading_and_writing_sat17    45.438446
math_sat17                                  46.885136
total_sat17                                 92.042269
participation_act18                          0.342119
composite_act18                              2.098939
participation_sat18                          0.373134
evidence_based_reading_and_writing_sat18    47.117912
math_sat18                                  47.455129
total_sat18                                 93.520391
dtype: float64

In [47]:
final.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
participation_act17,52.0,0.641538,0.327997,0.08,0.3100,0.680,1.0000,1.0
english_act17,52.0,20.994231,2.374159,16.30,19.0000,20.800,23.3250,25.5
math_act17,52.0,21.236538,2.000983,18.00,19.4000,21.050,23.1500,25.3
reading_act17,52.0,22.067308,2.083052,18.10,20.4750,21.850,24.2000,26.0
science_act17,52.0,21.092308,3.172606,2.30,19.9000,21.300,23.2000,24.9
composite_act17,52.0,21.573077,2.037599,17.80,19.8000,21.400,23.6250,25.5
participation_sat17,52.0,0.408654,0.357579,0.02,0.0400,0.405,0.6750,1.0
evidence_based_reading_and_writing_sat17,52.0,568.038462,45.881758,482.00,531.7500,558.500,612.5000,644.0
math_sat17,52.0,555.769231,47.342563,468.00,522.5000,544.500,597.0000,651.0
total_sat17,52.0,1123.903846,92.940263,950.00,1054.2500,1104.500,1210.0000,1295.0
participation_act18,52.0,0.606731,0.345456,0.07,0.2700,0.655,1.0000,1.0
composite_act18,52.0,21.544231,2.119417,17.70,19.9750,21.300,23.7250,25.6
participation_sat18,52.0,0.467692,0.376775,0.02,0.0475,0.535,0.7925,1.0
evidence_based_reading_and_writing_sat18,52.0,562.692308,47.577610,480.00,530.5000,551.000,608.2500,643.0
math_sat18,52.0,555.173077,47.918117,480.00,521.7500,543.500,592.7500,655.0
total_sat18,52.0,1117.884615,94.432807,977.00,1048.5000,1095.500,1201.0000,1298.0

Do your manually calculated standard deviations match up with the output from pandas `describe`? What about numpy's `std` method?

Answer: The describe method is different to the generated function and the numpy's method. This is due the difference in formula used where we used (n) and the describe method used (n-1)

#### Investigate trends in the data
Using sorting and/or masking (along with the `.head` method to not print our entire dataframe), consider the following questions:

- Which states have the highest and lowest participation rates for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Which states have the highest and lowest mean total/composite scores for the:
    - 2017 SAT?
    - 2018 SAT?
    - 2017 ACT?
    - 2018 ACT?
- Do any states with 100% participation on a given test have a rate change year-to-year?
- Do any states show have >50% participation on *both* tests either year?

Based on what you've just observed, have you identified any states that you're especially interested in? **Make a note of these and state *why* you think they're interesting**.

**You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [58]:
#sorting values by column participation of SAT 2017
final.sort_values('participation_sat17').head()

,state,participation_act17,english_act17,math_act17,reading_act17,science_act17,composite_act17,participation_sat17,evidence_based_reading_and_writing_sat17,math_sat17,total_sat17,participation_act18,composite_act18,participation_sat18,evidence_based_reading_and_writing_sat18,math_sat18,total_sat18
25,Mississippi,1.00,18.2,18.1,18.8,18.8,18.6,0.02,634,607,1242,1.00,18.6,0.03,630,606,1236
35,North Dakota,0.98,19.0,20.4,20.5,20.6,20.3,0.02,635,621,1256,0.98,20.3,0.02,640,643,1283
15,Iowa,0.67,21.2,21.3,22.6,22.1,21.9,0.02,641,635,1275,0.68,21.8,0.03,634,631,1265
45,Utah,1.00,19.5,19.9,20.8,20.6,20.3,0.03,624,614,1238,1.00,20.4,0.04,480,530,1010
42,South Dakota,0.80,20.7,21.5,22.3,22.0,21.8,0.03,612,603,1216,0.77,21.9,0.03,622,618,1240

## Visualize the data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers.

Some recommendations on plotting:
- Plots have titles
- Plots have axis labels
- Plots have appropriate tick labels
- All text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Plots are interpreted to aid understanding

There is such a thing as too many plots, and there are a *lot* of bad plots. You might make some! (But hopefully not with the guided prompts below).

#### Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features

Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).

*example*:
```python
sns.heatmap(df.corr())
```

Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).

#### Define a custom function to subplot histograms

We have data for two tests for two years. We only have composite (and not subtest scores) for the 2018 ACT. We should write a function that will take the names of 2+ columns and subplot histograms. While you can use pandas plotting or Seaborn here, matplotlib gives you greater control over all aspects of your plots.

[Helpful Link for Plotting Multiple Figures](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes)

Here's some starter code:

In [ ]:
def subplot_histograms(dataframe, list_of_columns, list_of_titles, list_of_xlabels):
    nrows = int(np.ceil(len(list_of_columns)/2)) # Makes sure you have enough rows
    fig, ax = plt.subplots(nrows=nrows, ncols=2) # You'll want to specify your figsize
    ax = ax.ravel() # Ravel turns a matrix into a vector, which is easier to iterate
    for i, column in enumerate(list_of_columns): # Gives us an index value to get into all our lists
        ax[i].hist(dataframe[column]) # feel free to add more settings
        # Set titles, labels, etc here for each subplot

#### Plot and interpret histograms 
For each of the following:
- Participation rates for SAT & ACT
- Math scores for SAT & ACT
- Reading/verbal scores for SAT & ACT

In [ ]:
# Code

#### Plot and interpret scatter plots

For each of the following:
- SAT vs. ACT math scores for 2017
- SAT vs. ACT verbal/reading scores for 2017
- SAT vs. ACT total/composite scores for 2017
- Total scores for SAT 2017 vs. 2018
- Composite scores for ACT 2017 vs. 2018

Plot the two variables against each other using matplotlib or Seaborn

Your plots should show:
- Two clearly labeled axes
- A proper title
- Using colors and symbols that are clear and unmistakable

**Feel free to write a custom function, and subplot if you'd like.** Functions save both time and space.

In [ ]:
# Code

#### Plot and interpret boxplots

For each numeric variable in the dataframe create a boxplot using Seaborn. Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.

Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).

Each boxplot should:
- Only include variables of a similar scale
- Have clear labels for each variable
- Have appropriate titles and labels

In [ ]:
# Code

#### Feel free to do additional plots below
*(do research and choose your own chart types & variables)*

Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

#### (Optional): Using Tableau, create a choropleth map for each variable using a map of the US. 

Save this plot as an image file in an images directory, provide a relative path, and insert the image into notebook in markdown.

## Descriptive and Inferential Statistics

#### Summarizing Distributions

Above, we used pandas `describe` to provide quick summary statistics of our numeric columns. We also demonstrated many visual relationships.

As data scientists, having a complete understanding of data is imperative prior to modeling.

While we will continue to build our analytic tools, we know that measures of *central tendency*, *spread*, and *shape/skewness* provide a quick summary of distributions.

For each variable in your data, summarize the underlying distributions (in words & statistics)
 - Be thorough in your verbal description of these distributions.
 - Be sure to back up these summaries with statistics.

Answers:


#### Distributions in the data

In this dataset, each data represents a sample from a population.                        
For example, for ACT math test:
- Population: the test results of all the students who take this test, nation-wide.
- Population mean: is the national average of ACT math test (total scores/total no. of test takers) 
- Sample: the state means of ACT math test. We have 51 samples (51 states)

***According to CLT, we generally assuming that data we sample from a population will be normally distributed. Do we observe this trend?***

Answer:

Does This Assumption Hold for:
    - Math
    - Reading
    - Rates
Explain your answers for each distribution and how you think this will affect estimates made from these data.

Answer:

#### Estimate Limits of Data

Suppose we only seek to understand the relationship between SAT and ACT participation rates in 2017. 

##### Does it make sense to conduct statistical inference given these data specifically? 

Why or why not?

*(think about granularity, aggregation, the relationships between populations size & rates...consider the actually populations these data describe in answering this question)*

Answer:

##### Is it appropriate to compare *these* specific SAT and ACT math scores  - can we say students with higher SAT math score is better than those with lower ACT math score, or vice versa?

Why or why not?

Answer:

#### Statistical Evaluation of Distributions 

**If you feel it's appropriate**, using methods we discussed in class, run hypothesis tests to compare variables of interest in our dataset.

In [ ]:
# Code:

## Outside Research

Based upon your observations, choose **three** states that demonstrate interesting trends in their SAT and/or ACT participation rates. Spend some time doing outside research on state policies that might influence these rates, and summarize your findings below. **Feel free to go back and create new plots that highlight these states of interest**. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. (Make sure that you cite your sources -- check with you local instructor for citation preferences).

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Choose one state with a lower participation rate and provide a suggestion for how the College Board might increase participation amongst graduating seniors in this state. Are there additional data you desire that would better inform your investigations?